@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
    }
    .nav_container{
        box-shadow: none;
    }
    .nav_options{
        flex-direction: column;
    }
    .nav_logo{
        margin-bottom: 62px;
    }
    .nav_button1{
        margin-bottom: 31px;
    }
    .nav_button2{
        margin-bottom: 78px;
    }
    /* header starts here */
    header{
        flex-direction: column-reverse;
    }
    .header_right{
        width: 100%;
        margin-right: 0;
    }
    .header_left_bg{
        background-image: none;
    }
}